body{
  background-color: lightgrey;
  margin: 0px;
}
a{
  text-decoration: none;
  color: green;
  font-style: italic;
}
.author{
  text-align: right;
}
.underline-b-span{
  text-decoration: underline;
  font-weight: 900;
}
hr{
  height: 3px;
  background: blue;
  border: 0;
  margin: 5px 0px 5px 0px;
  width: 100%;
}
img{
  float: left;
  height: 200px;
}
h1{
  text-align: center;
  color: blue;
}
p{
  margin-bottom: 0px;
  margin-left: 20px;
}
p+p{
  text-indent: 25px;
  margin-top: 0px;
}
h2{
  text-align: center;
  font-size: 16px;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.description{
  margin-left: 5%;
}
.text{
  font-style: italic;
  color: rgb(50, 100, 180);
}
.matches{
  font-style: italic;
  font-size: 20px;
}
.gallery{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.imgfilm{
  width: 320px;
  height: 240px;
}
.main_book{
  border-bottom: 3px solid lightblue;
  width: 100%;
  margin-bottom: 15px;
  height: 300px;
}
.main_book_image{
  float: left;
  height: 250px;
  width: 15%;
  min-width: 160px;
}
.main_book_content{
  float: left;
  width: 85%;
  height: 250px;
  margin-top: 30px;
}
.main_book_image_img{
  margin: 20px 0px 0px 20px;
}
.main_book_content_param{

  height: 200px;
  width: 40%;
  float: left;
}
.main_book_content_desc{
  text-align: justify;
  font-style: italic;
  margin-top: 100px;
  margin-right: 50px;
  height: 250px;
  width: 75%;
}
.describe{
  text-align: center;
  font-weight: 700;
}
a:hover{
  text-decoration: underline;
}
