body{
  background-color: lightgrey;
  padding: 0px;
  margin: 0px;
}
.main_table{
  border: 1px solid black;
  border-collapse: collapse;
}
th{
  border: 1px solid black;
}
td{
  border: 1px solid black;
}
.header{
  width: 100%;
  height: 50px;
}
.header_author{
  margin-top: 15px;
  height: 50px;
  width: 300px;
  float: right;
}
a{
  text-decoration: none;
  color: green;
  font-style: italic;
}
.author{
  text-align: right;
}
.underline-b-span{
  text-decoration: underline;
  font-weight: 900;
}
hr{
  height: 3px;
  background: blue;
  border: 0;
  margin: 5px 0px 5px 0px;
  width: 100%;
}
img{
  float: left;
  height: 200px;
}
h1{
  text-align: center;
  color: blue;
}
p{
  text-indent: 25px;
  margin-bottom: 0px;
  margin-left: 20px;
}
p+p{
  text-indent: 25px;
  margin-top: 0px;
}
h2{
  text-align: center;
  font-size: 16px;
}
.main_film{
  width: 100%;
  height: 400px;
  border-bottom: 3px solid rgb(50, 100, 130);
}
.main_film_image{
  float: left;
  height: 250px;
  width: 15%;
  min-width: 160px;
}
.main_film_image_img{
  margin: 40px 0px 0px 20px;
}
.main_film_description{
  float: left;
  width: 85%;
  height: 250px;
  margin-top: 30px;
}
.text{
  font-style: italic;
  color: rgb(50, 100, 180);
}
.matches{
  font-style: italic;
  font-size: 20px;
}
.main_film_gallery{
  margin-left: 15px;
  height: 300px;
  width: 90%;
  border-bottom: 3px solid rgb(50, 100, 130);
}
.imgfilm{
  float: left;
  margin-right: 15px;
  width: 320px;
  height: 240px;
}
.main_film_opys{
  width: 90%;
  height: 120px;
  margin-left: 15px;
  border-bottom: 3px solid rgb(50, 100, 130);
  margin-bottom: 15px;
}
.main_book{
  border-bottom: 3px solid rgb(50, 100, 130);
  width: 100%;
  margin-bottom: 15px;
  height: 300px;
}
.main_book_image{
  float: left;
  height: 250px;
  width: 15%;
  min-width: 160px;
}
.main_book_content{
  float: left;
  width: 85%;
  height: 250px;
  margin-top: 30px;
}
.main_book_image_img{
  margin: 20px 0px 0px 20px;
}
.main_book_content_param{

  height: 200px;
  width: 40%;
  float: left;
}
.main_book_content_desc{
  text-align: justify;
  font-style: italic;
  margin-top: 100px;
  margin-right: 50px;
  height: 250px;
  width: 75%;
}
.describe{
  text-align: center;
  font-weight: 700;
}
a:hover{
  text-decoration: underline;
}
.second_book{
  width: 100%;
  height: 250px;

  border-bottom: 3px solid rgb(50, 100, 130);
}
.second_book_content{
  width: 80%;
  height: 250px;
}
.rozdil{
  margin-left: 15px;
  margin-bottom: 15px;
  border-bottom: 3px solid rgb(50, 100, 130);
}
.main_table{
  margin: 30px 0px 0px 30px;
}
.zmist_h3{
  text-decoration: underline;
}
.zmist_ul{
  list-style: none;
}
.abzac{
  margin-bottom: 15px;
}
